<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=DESKTOP-NN3D6V8\\SQLEXPRESS;Initial Catalog=RapDB;Integrated Security=True"/>
	</connectionStrings>

	<!--SCENARIO 1-->
	<!--<appSettings>
		<add key="parent_table" value="Labels"/>
		<add key ="parent_table_pk" value="LabelID"/>
		<add key="child_table" value="Artists"/>
		<add key ="child_table_fk" value="SignedLabelID"/>
		<add key ="child_table_pk" value="ArtistID"/>
		<add key="parent_query" value="SELECT * FROM Labels"/>
		<add key="child_query" value="SELECT * FROM Artists"/>
	</appSettings>-->

	<!--SCENARIO 2-->

	<appSettings>
		<add key="parent_table" value="Producers"/>
		<add key ="parent_table_pk" value="ProducerID"/>
		<add key="child_table" value="Songs"/>
		<add key ="child_table_fk" value="SignedProducerID"/>
		<add key ="child_table_pk" value="SongID"/>
		<add key="parent_query" value="SELECT * FROM Producers"/>
		<add key="child_query" value="SELECT * FROM Songs"/>
	</appSettings>
	
</configuration>